{%extends 'base.html'%}
{%load static%}
{%block content%}

<link rel="stylesheet" href="{%static 'css/register.css'%}">

<div class="register-container">
    <div class="register-box">
        <form method="POST" action="{% url 'register-page' %}">
            {% csrf_token %}
            <h5 style="color: #5A3E2B;">Registro de Usuario</h5>
    
            {% if form.errors %}
                <div class="alert alert-danger">
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
    
            <div class="mb-3">
                <label style="color: #5A3E2B;" for="id_username" class="form-label">Nombre de usuario:</label>
                {{ form.username }}
            </div>
    
            <div class="mb-3">
                <label style="color: #5A3E2B;" for="id_email" class="form-label">Correo electrónico:</label>
                {{ form.email }}
            </div>
    
            <div class="mb-3">
                <label style="color: #5A3E2B;" for="id_password1" class="form-label">Contraseña:</label>
                {{ form.password1 }}
            </div>
    
            <div class="mb-3">
                <label style="color: #5A3E2B;" for="id_password2" class="form-label">Confirmar contraseña:</label>
                {{ form.password2 }}
            </div>
    
            <div class="mb-3">
                <label style="color: #5A3E2B;" for="id_rut" class="form-label">RUT:</label>
                {{ form.rut }}
            </div>
    
            <div class="mb-3">
                <label style="color: #5A3E2B;" for="id_telefono" class="form-label">Teléfono:</label>
                {{ form.telefono }}
            </div>
    
            <div class="mb-3">
                <label style="color: #5A3E2B;" for="id_direccion" class="form-label">Dirección:</label>
                {{ form.direccion }}
            </div>

            {% if error %}
                <div style="color: red; margin-top: 10px;">
                    {{ error }}
                </div>
            {% endif %}

            <div style="margin-top: 30px;">
                <button type="submit" class="btn btn-dark" style="border-radius: 12px; padding: 8px 30px; border: 1px solid black;">Registrarse</button>

                <p style="color: #5A3E2B;" class="footer-text">
                    ¿Ya tienes cuenta? <a href="{%url 'login-page'%}">Inicia sesión aquí</a>
                </p>
            </div>
        </form>
    </div>
</div>

{%endblock%}