{% extends 'dashboard-panel/dashboard.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <style>
  .main-content {
    margin-left: 280px; /* Igual al ancho del sidebar */
    padding: 20px;
  }

  .sidebar {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
  }

  @media (max-width: 768px) {
    .main-content {
      margin-left: 0;
    }

    .sidebar {
      width: 100%;
      position: relative;
    }
  }
</style>
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h4>Editar Usuario</h4>
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <div class="row">
                    {% for field in form %}
                    <div class="col-md-6 mb-3">
                        <label class="form-label">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                        <div class="text-danger">{{ field.errors }}</div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                <a href="{% url 'list-user' %}" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}